.loader {
  position: relative;
  display: inline-block;
  margin: 0 12.5% 100px;
  width: 40px;
  height: 40px;
  border: 2px solid #0cf;
  border-radius: 50%;
  border-top-width: 0;
  animation: spin 0.75s infinite linear;

  &::before,
  &::after {
    left: -2px;
    top: -2px;
    display: none;
    position: absolute;
    content: '';
    width: inherit;
    height: inherit;
    border: inherit;
    border-radius: inherit;
  }

  &-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
