.page {
  position: relative;
  display: flex;
  flex-direction: column;
}

.page__header,
.page__footer {
  width: 100%;
  height: 80px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eee;
}

.page__wrapper {
  width: 100%;
  height: 83.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
