.button {
  width: 100%;
  margin: 0;
  padding: 11px;
  border: none;
  border-radius: 40px;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: background-color 0.3s ease-out;

  &__color {
    &-primary {
      color: #000;
      border: 1px solid #000000;
      background: #ffffff;

      &:hover {
        background: #f3f3f3;
      }
    }

    &-green {
      color: #ffffff;
      background: #37d15d;

      &:hover {
        background: #31ab4f;
      }
    }

    &-blue {
      color: #ffffff;
      background: #278eff;

      &:hover {
        background: #278fffe7;
      }
    }
  }
}
