@font-face {
  font-family: 'Roboto';
  src: local('Roboto Thin'), local('Roboto-Thin'), url('../assets/fonts/Robotothin.woff2') format('woff2'),
    url('../assets/fonts/Robotothin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Light'), local('Roboto-Light'), url('../assets/fonts/Robotolight.woff2') format('woff2'),
    url('../assets/fonts/Robotolight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), local('Roboto-Regular'), url('../assets/fonts/Roboto.woff2') format('woff2'),
    url('../assets/fonts/Roboto.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Medium'), local('Roboto-Medium'), url('../assets/fonts/Robotomedium.woff2') format('woff2'),
    url('../assets/fonts/Robotomedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Bold'), local('Roboto-Bold'), url('../assets/fonts/Robotobold.woff2') format('woff2'),
    url('../assets/fonts/Robotobold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Black'), local('Roboto-Black'), url('../assets/fonts/Robotoblack.woff2') format('woff2'),
    url('../assets/fonts/Robotoblack.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}
