.user {
  &-card {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 24px 12px;
    cursor: pointer;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    border-radius: 12px;

    &__left {
      margin-right: 16px;
    }

    & &__right {
      width: 100%;
      display: flex;
      gap: 8px;
      justify-content: flex-start;
      flex-flow: column;
    }

    &__info {
      font-size: 0.875rem;
      font-weight: 500;
      display: flex;
      color: var(--typography-title-color);
      justify-content: space-between;
    }

    &__name {
      text-transform: capitalize;
    }

    & &__message {
      font-weight: 400;
      max-width: 270px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      color: var(--typography-p-color);
    }

    &__notify {
      position: absolute;
      bottom: 28px;
      right: 22px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: var(--notify-bg-color);
    }
  }

  &-active {
    background: var(--active-bg);
  }
}
